<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NombramientoPartidos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NombramientoPartidos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NombramientoPartidos.Properties.Settings>
      <setting name="ContainerAdministradores" serializeAs="String">
        <value>administradores</value>
      </setting>
    </NombramientoPartidos.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <NombramientoPartidos.Properties.Settings>
      <setting name="AccountName" serializeAs="String">
        <value>imagenesproyectofutapp</value>
      </setting>
      <setting name="KeyValue" serializeAs="String">
        <value>bVOOCgvwNx3sav8YOzrT8+zYJOn2p3LpcpVzcm9IHkbpQ6ZVOyXQdh6+IjXVajNYkak+0cLQUHCqjXWbC+c0hA==</value>
      </setting>
      <setting name="ContainerArbitros" serializeAs="String">
        <value>arbitros</value>
      </setting>
      <setting name="ContainerJugadores" serializeAs="String">
        <value>jugadores</value>
      </setting>
      <setting name="ContainerEquipos" serializeAs="String">
        <value>equipos</value>
      </setting>
      <setting name="ContainerStaffs" serializeAs="String">
        <value>staffs</value>
      </setting>
    </NombramientoPartidos.Properties.Settings>
  </applicationSettings>
</configuration>